<%var estados=['En curso','Concretado']%>
<h1>Periodos Academicos</h1>
<a href="periodos/crear">

  <button type="button" class="btn btn-primary">
    +
  </button>
</a>

<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>Nombre</th>
    <th>Fecha de Inicio</th>
    <th>Fecha de Fin</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <% for(var i=0;i<periodos.length;i++){ %>
  <tr>
    <td scope="row"><%=periodos[i].id%></td>
    <td><%=periodos[i].nombre%></td>
    <td><%=dateFormat(periodos[i].fechaInicio,'yyyy-mm-dd')%></td>
    <td><%=dateFormat(periodos[i].fechaFin,'yyyy-mm-dd')%></td>
    <td><%=estados[periodos[i].estado]%></td>
    <td>
      <a href="periodos/editar?id=<%=periodos[i].id%>">
        <button type="button" class="btn btn-primary">
          Editar
        </button>
      </a>
    </td>
    <td>
      <form action="/PerdiodoAcademico/eliminarPeriodoAcademico" method="post">

        <input hidden
               type="text"
               value="<%=periodos[i].id%>"
               name="id">

        <button  type="submit"
                 class="btn btn-outline-danger">Borrar</button>

      </form>
    </td>
  </tr>
  <%}%>
  </tbody>
</table>
